---
import { href } from "./../state";

interface Route {
    link: string;
    name: string;
}
const routes: Route[] = [
    {
        "link": `${import.meta.env.BASE_URL}/`,
        "name": "HOME"
    },
    {
        "link": `${import.meta.env.BASE_URL}/about`,
        "name": "ABOUT ME"
    }, 
    {
        "link": `${import.meta.env.BASE_URL}/projects`,
        "name": "PROJECTS"
    }, 
    {
        "link": `${import.meta.env.BASE_URL}/blogs`,
        "name": "BLOGS"
    }
]

---


<div class="nav-container">
    <figure class="hamburger"><img src=`${import.meta.env.BASE_URL}/assets/hamburger.png`/></figure>
    <nav class="navbar">
        <figure class="close-button hidden"><img src=`${import.meta.env.BASE_URL}/assets/close.png`/></figure>
        {
            routes.map(route => (
                <a href={route.link} class={`navlink ${ (href.get() === route.link) && 'accentify'} `}> {route.name} </a>
            ))
        }
    </nav>
    <script>
        const navbar = document.querySelector(".nav-container .navbar")!;
        const hamburgerButton = document.querySelector(".nav-container .hamburger")!;
        const closeButton = document.querySelector(".nav-container .close-button")!;

        function toggleMenu(isOpen: boolean) {
            if (isOpen) {
                navbar.classList.add("is-open");
                hamburgerButton.classList.add("hidden");
                closeButton.classList.remove("hidden");
            } else {
                navbar.classList.remove("is-open");
                hamburgerButton.classList.remove("hidden");
                closeButton.classList.add("hidden");
            }
        }
        hamburgerButton.addEventListener("click", () => toggleMenu(true));
        closeButton.addEventListener("click", () => toggleMenu(false));
        window.matchMedia('(min-width : 576px)').addEventListener("change", () => toggleMenu(false));

    </script>
</div>

<style>
    .nav-container {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-block: 1.5rem;
        background-color: white;
    }
    .nav-container figure img {
        width: 16px;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    .navbar {
        display: flex;
        align-items: center;    
    }
    .nav-container .close-button {
        align-self: end;
    }
    .navlink {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 576px) {       
        .nav-container .close-button.hidden {
            display: none;
        }
        .nav-container  .hamburger.hidden {
            display: none;
        }
        .navbar {
            width: 100%;
            flex-direction: column;
            display: none;
        }
        .navbar.is-open {
            display: flex;
        }
        .navlink {
            padding-block: 0.5rem;
            margin-block: 1rem;
        }
    }
    @media screen and (min-width: 576px) {
        .nav-container figure {
            display: none;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
        }
        .navlink {
            padding-inline: 0.5rem;
            margin-inline: 1rem;
        }
    }
</style>
